
@{
    ViewBag.Title = "Đăng ký tài khoản thành công";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div>
    <h3 style="padding-top:200px;padding-left:50px">
        Đăng ký tài khoản thành công! Bạn có thể <a href="/account/login">Đăng nhập</a> từ bây giờ bằng tài khoản của chính mình <i class="fa fa-heart-o" aria-hidden="true"></i>
        <br />
        Hoặc bạn có thể xem các sản phẩm của cửa hàng <a href="/san-pham">tại đây</a> nha <i class="fa fa-heart-o" aria-hidden="true"></i>
</h3>

</div>
